body {
  text-align: center;
    background-color: black;
    /* background-image: linear-gradient(to right, #D3D3D3, #48DBFB); */
  
}




#level-title {
  font-family: 'Creepster', cursive;
  font-size: 2rem;
  margin:  5%;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.container {
  display:block;
  width: 80%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
